{% extends 'index.html' %}

<div class="well">
{% block content %}
<form
    method="POST"
    action=""
    enctype="multipart/form-data"

    <div style="position: relative">
        <h5>
    {% csrf_token %}
            {{ form.as_p }}
        </h5>
        <script type="text/javascript">
$(function () {
        $('#datetimepicker_pub').datetimepicker({
                locale: 'ko',
format: 'YYYY-MM-DD'
});
        });
        </script>
        <p>
    </div>
    <button type="submit">저장</button>
    </p>
</form>
</div>

{% endblock %}
