{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}야매: 야미 매니저:{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- START 필요 스타일 -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'cornerstone/theme-white/cornerstone.css' %}"/>
    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}"/>
    <!-- //END 필요 스타일 -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static 'js/ddtf.js' %}"></script>
</head>
<body>

<div id="pages" class="container">
<header>
    <nav class="navbar navbar-default navbar-fixed-top"
        role="navigation">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">야매: 야미 매니저</a>
    </div>
    </nav>
</header>

<div class="content">
    <h2>{{page_title}}</h2>
{% block content %}{% endblock %}
</div>

<footer>
    <div class="navbar-mobile btn-group
        btn-group-justified navbar-fixed-bottom">
    <a href="/" class="btn btn-default">
    <span class="glyphicon glyphicon-th-list"></span>
    <span class="text">list</span>
    </a>
    <a href="/new" class="btn btn-default">
    <span class="glyphicon glyphicon-edit"></span>
    <span class="text">new idea</span>
    </a>
    <a href="/calendar" class="btn btn-default">
    <span class="glyphicon glyphicon-calendar"></span>
    <span class="text">calendar</span>
    </a>
    </div>
</footer>
</div>


</body>
</html>
